    body, html {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-top: 2%;
    font-family: 'Work Sans', sans-serif;
    }  
    header {
    text-align: center;
    padding-bottom: 5%;
    }
    .data {
	color:grey;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-variant:small-caps;    
    }
    .jatorrizkoa {
   font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-variant:small-caps;  
	text-align:center;    
    }  
 	a:link {
 	 color: black;
    text-decoration: none;
    background-color: whitesmoke;
}
	a:visited {
	 color: black;
    text-decoration: none;
    background-color: whitesmoke;
}

	a:hover {
	 color:whitesmoke;
    text-decoration: none;
    background-color: black;
}

	a:active {
    text-decoration: none;
}   
    footer {
    color: black;
    clear:both;
    padding-top: 40px;
    font-size: 12px;
    text-align: center;
    }
    .akatsa {
   text-align: center;
   font-size: 4vw;
   padding: 20%;
}
.nav a {
padding: 4px 6px;
}
.nav a.active {
    background-color: black;
    color: white;
}
.nav {
font-variant: small-caps;
}
.mel {
	height: 50%; 
	width: 50%;
}
.irudiak {
	width: 100%;
}
