    body, html {
    margin:0;
    padding:0;
    color:#000;
    background:whitesmoke;
    }
	
    #wrap {
    max-width: 80%;
    margin:0 auto;
    }
	 .edukia {
    font-family: 'Work Sans', sans-serif;
	 }  
    header {
    padding:20px;
    text-align: center;
    }
    .data {
	color:grey;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-variant:small-caps;    
    }
    .jatorrizkoa {
   font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-variant:small-caps;  
	text-align:center;    
    }
    .hasiera {
	  float:right; 
	  margin: 20px;   
    }
    h1 {
    font-size: 1vw;
    color: whitesmoke;
    text-shadow: 5px 2px black;
    margin:0;
    }    
    #main {
    margin-bottom: 50px;
    float:left;
    width:55%;
    padding:10px;
    margin-top: 100px
      }
    h2 {
    margin:0 0 1em;
     }
    h4 {
    text-align: center;
    } 
 	a:link {
 		color: black;
    text-decoration: none;
    background-color: yellow;
}
	a:visited {
	 color: black;
    text-decoration: none;
    background-color: yellow;
}

	a:hover {
	 color:whitesmoke;
    text-decoration: none;
    background-color: black;
}

	a:active {
    text-decoration: none;
}   
    aside {
    float:right;
    width:30%;
    height: 100%;
    border-style:solid;
	 border-color:black;
	 border-width: 1px;
	 margin-top: 50px;
	 margin-bottom:50px;
    }
    #aurkez {
		text-align:center;
	padding: 20px;
    }
    
    #blogroll {
	 padding: 20px;
    }
    
    footer {
    	color: black;
    clear:both;
    padding: 5px;
    background-color: whitesmoke;
    font-size: 12px;
    text-align: center;
    }
