<footer>
	<hr>
	<p><a href="https://mastodon.social/@nomadagaldua" target="_blank"><img src="/img/mastodon.png" alt="Mastodon" style="width:42px;height:42px;border:0;"></a>
		<a href="https://telegram.me/nomadagaldua" target="_blank"><img src="/img/telegram.png" alt="Telegram" style="width:42px;height:42px;border:0;"></a>
		<a href="mailto:iparragirre.peru@yahoo.es"><img src="/img/email.png" alt="e-posta" style="width:42px;height:42px;border:0;"></a>
		<a href="https://github.com/nomadagaldua" target="_blank"><img src="/img/github.png" alt="Github" style="width:42px;height:42px;border:0;"></a>
		<a href="https://www.flickr.com/photos/peruiparragirre/" target="_blank"><img src="/img/flickr.png" alt="Flickr" style="width:42px;height:42px;border:0;"></a></p>
	<p>Webgune honetako edukia <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> lizentziapean dago.</p>
	<p><font size="2" color="grey">Jatorrizko iturburu-kodea <a href="LICENSE.md">Tania>k egina da, <a href="http://taniarascia.com">MIT lizentziapean.</font></p>
</footer>
